*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'vazir';
}
html{
    overflow-x:hidden;
}
@font-face{
    font-family: 'vazir';
    src: url(./Font/Vazir.eot) format('eot');
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    height: 100%;
    width: 100vw;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links ul{
    display: flex;
    align-items: center;
}

.nav-link{
    margin: 0 17px;
}

.login-link,.nav-link a{
    font-size: 1rem;
    color: gray;
    transition: all 0.3s;
}

.login-link:hover,.nav-link a:hover{
    color: black;
}


.neon{
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
}
.toggle-btn{
    display: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.75);
}
.display{
    transform: translateY(0) !important;
}

.visible{
    visibility: hidden;
}

@media only screen and (max-width:650px){
    .toggle-btn{
        display: block;
    }
    .links{
        position: absolute;
        height: 220px;
        right: 0;
        top: 8%;
        z-index: 1;
        transform: translateY(-150%);
        transition: all 0.3s;
        flex-direction: column;
        padding: 2px 10px;
        align-items: flex-start;
        border-bottom: 3px solid rgba(128, 128, 128, 0.435);
    }

    .links ul{
        flex-direction: column;
    }
    .nav-link{
        margin: 8px 0;
    }
    .login-link{
        margin-right: 9px;
    }
}


.web-img{
    margin-top: 10px;
    width: 100vw;
    height: 270px;
    position: relative;
    background: url('./img/code.jfif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.web-img-text{
    font-size: 2.2rem;
    color:#fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter:blur(2px);
}


.search-courses{
    width: 70vw;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgba(0, 0, 0, 0.142);
    margin: 15px auto;
    border-radius: 5px;
}

form{
    display: flex;
    border-radius: 10px;
    width: 250px;
    height: 42px;
    max-width: 90%;
    border: 2px solid rgba(0, 0, 0, 0.142);
    overflow: hidden;

}

form input{
    width: 100%;
    outline: none;
    border: none; 

}

form button{
    background-color: rgb(0, 115, 255);
    padding: 0 10px;
    border: none;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
	transition:all 0.5s;
	
}
form button:hover{
	transform:Scale(1.1);
	padding: 0 12px;
}

select{
    cursor: pointer;
	padding:3px 5px;
	border-color:rgba(0, 0, 0, 0.142);	
}

@media only screen and (max-width:650px){
    .search-courses{
        flex-direction: column;
        height: 200px
    }
}


.courses{
    width: 83vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px 0;
}

.courses .card{
    width: 370px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 8px 3px;
}

.card-img{
    width: 100%;
    height: 60%;
	transition:all 0.3s;
	border-radius:5px
}
.card-img:hover{
	transform:scale(1.1);
	
}
.card .title,.desc,.course-time{
    padding: 0 10px;
}


.card .course-time{
    align-self: flex-end;
}
.card .course-time,.desc{
    color: gray;
    font-size: 1rem;
    font-weight: bold;
}

.card .title{
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
}



/* footer */

#footer{
    width: 100vw;
    height: 40px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.296);
}

#footer .copy-right{
    width: 250px;
    max-width: 90vw;
    margin: auto;
    height: 100%;
    line-height: 50px;
    background-color: rgba(128, 128, 128, 0.467);
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.copy-right span{
    font-size: 0.9rem;
    font-weight: bold;
}